<div align="center">
    <a href="https://gitlab.com/OriginsProject/originspublic">
        <img alt="GitLab1" src="https://gitlab.com/OriginsProject/originspublic/-/raw/main/assets/images/origins-gitlab-3.png" width="75%">
    </a>
</div>
<div align="left">
    <a href="https://discord.gg/wuJBzj2">
        <img alt="Discord" src="https://gitlab.com/OriginsProject/originspublic/-/raw/main/assets/images/origins-discord.png" width="100" height="100">
        Join us on Discord!
    </a>
</div>

<h1 id="origins">Origins</h1>
<p>Relive your most nostalgic moments from a vast region in this upcoming title. Origins is centered around the most
    iconic region and our favorite catchable monsters.</p>
<h1 id="a-new-twist">A New Twist</h1>
<p>Our favorite handheld games go back to the 90&#39;s. However, there was always something I felt was missing,
    <strong>action based multiplayer combat</strong>.</p>
<div align="right">
</div>


<p>By being true to the Origins of our favorite games, this game looks to redefine a classic and bring it into the next
    era. <strong>Your journey awaits you!</strong></p>
<h1 id="unique-features">Unique Features</h1>
<ul>
    <li><strong>Realtime Action-based combat</strong></li>
    <li><strong>Online multiplayer</strong></li>
    <li><strong>Dynamic Vegetation, Dynamic Shadows</strong></li>
</ul>
<p><img src="https://gitlab.com/OriginsProject/originspublic/-/raw/main/assets/images/origins-cave-map-generate.png">
</p>
<p><em>Each time the world is ran, it dynamically generates shadows and vegetation in real time creating a unique world
        each time the server is updated or rebooted.</em></p>
<ul>
    <li><strong>PvP &amp; PvE</strong></li>
    <li><strong>Player Gym Leaders</strong></li>
    <li><strong>Full DevOps Process</strong></li>
</ul>
<p><img src="https://gitlab.com/OriginsProject/originspublic/-/raw/main/assets/images/origins-ci-cd2.png"></p>
<p><em>Code is managed in GitLab and has a dedicated build and deployment pipeline. This took quite a bit of time to set
        up, but I feel like it is super important for a seemless update process and a clean development
        environment.</em></p>
<p><strong>Hinashou&#39;s CI/CD Pipeline for Origins</strong></p>
<pre><code>Pipeline consists of 3 steps:
    build
    Pulls down an image from docker, and installs all necessary dependencies. Then, it runs through the code and ensures there are no compilation errors. 
    auto-deploy
    Deploys the files generated from the build step to my remote game server. The remote game server detects these changes immediately, saves all players currently logged in, and restarts the game world with the updated files. It also sends out a discord message to my discord server with updated change logs.
    manual-deploy
    This step is also dependent on the build step, but is optional. It is only ran if the game is not currently running on the remote game server. After deploying the files to the remote game server, it will start the<> game world.
    
    If the game world crashes for any reason on the remote game server, it will automatically restart within 1 minute.
    
    Fully independent test game server and production game server with independent pipelines, but follow the same steps.
    </code></pre>
<ul>
    <li><strong>Discord Integration</strong></li>
</ul>
<p><em>Get current server information, players online, lookup trainers, lookup pokemon, and generate pokemon at a
        specific level. Has the same setup as the game server, there is a test bot and a production bot.</em></p>
<ul>
    <li><strong>Online 24/7!</strong></li>
</ul>
<h1 id="next-major-feature-">Next Major Feature:</h1>
<ul>
    <li><strong>Expanded PVP System &amp; Lore</strong></li>
</ul>
<h1 id="setup">Setup</h1>
<ol>
    <li>
        <p>Visit the <a href="http://www.byond.com/download/"><strong>BYOND download page</strong></a> and download the
            latest version. The software is easy to install and best of all it&#39;s free. It allows you to launch
            <strong>Origins</strong>.</p>
    </li>
    <li>
        <p>Run the installer after download. After installation is complete, the BYOND program will automatically open.
        </p>
    </li>
    <li>
        <p>Create a BYOND account on the <a href="https://secure.byond.com/Join/"><strong>BYOND Registration
                    Page</strong></a>. This account is what you will use to log into the BYOND program.</p>
    </li>
</ol>
<p><em>Note that your in-game name can be different from the name of your BYOND key.</em></p>
<ol>
    <li>After logging in, join by visiting <a href="http://www.byond.com/games/Hinashou/Origins"><strong>Origins&#39;s
                BYOND Page</strong></a> and hit <strong>Play</strong> to launch the game or search <em>Origins</em> in
        your BYOND Program to find us as well.</li>
</ol>
<h1 id="make-suggestions-bug-reports-issues">Make Suggestions, Bug Reports &amp; Issues</h1>
<p><strong>Origins</strong> is still in active development. The team relies on community feedback and reporting to
    further improve the game.</p>
<p>If you encounter any issues or bugs or have a suggestion, please report them on the <a href="https://gitlab.com/OriginsProject/originspublic/-/issues"><strong>Origins GitLab Issues Page</strong></a>
</p>
<p>Please use the template provided when you go to make a new bug report or suggestion. To see what is currently
    proposed, accepted, and in-work, visit the
    <a href="https://gitlab.com/OriginsProject/originspublic/-/boards/1713984"><strong>Origins GitLab Development
            Board.</strong></a></p>

<h1 id="contributing">Contributing</h1>
<p>Anyone who contributes to the development of Origins and their work is added in the game will receive the in-game
    role of <strong>Contributor</strong></p>
<ul>
    <li>Contributor login message</li>
    <li>Contributor title in OOC</li>
    <li>Contributor Discord role</li>
    <li>Ability to select 2 starters</li>
    <li>Name included in the <a href="https://gitlab.com/OriginsProject/originspublic/-/blob/main/Credits.md">Origins
            Credits</a></li>
    <li>+5% EXP gain</li>
</ul>
<h1 id="the-team">The Team</h1>
<ul>
    <li>Owner/Developer: Hinashou</li>
</ul>